body{
    overflow: auto;
}

#left{
    background-color: aliceblue;
    border: 3px darkblue solid;
    float: left;
    height: 97%;
    width: 45%;
    position: fixed;
}

#div0 {
    position: absolute;
    width: 2.2%;
    height: 2%;
    -webkit-transition: opacity 0.1s;*/ /* Safari */
    transition: opacity 0.1s;
    opacity: 1;
}
#div0:hover {
    opacity: 0;
}

#div_Taipei {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: violet;
    width: 8.5%;
    height: 7%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Taipei:hover {
    width: 20%;
    z-index: 1;
}

#div_Keelung {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: violet;
    width: 4%;
    height: 3.2%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Keelung:hover {
    width: 20%;
    z-index: 1;
}

#div_Taoyuan {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: violet;
    width: 6.6%;
    height: 6%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Taoyuan:hover {
    width: 20%;
    z-index: 1;
}

#div_Hsinchu {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: violet;
    width: 5.8%;
    height: 5%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Hsinchu:hover {
    width: 20%;
    z-index: 1;
}

#div_Yilan {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: violet;
    width: 10.5%;
    height: 9.5%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Yilan:hover {
    width: 20%;
    z-index: 1;
}

#div_Miaoli {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: gold;
    width: 9.2%;
    height: 8%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Miaoli:hover {
    width: 20%;
    z-index: 1;
}

#div_Taichung {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: gold;
    width: 8%;
    height: 7%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Taichung:hover {
    width: 20%;
    z-index: 1;
}

#div_Changhua {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: gold;
    width: 7.2%;
    height: 6.4%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Changhua:hover {
    width: 20%;
    z-index: 1;
}

#div_Nantou {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: gold;
    width: 14.3%;
    height: 12.6%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Nantou:hover {
    width: 20%;
    z-index: 1;
}

#div_Yunlin {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightskyblue;
    width: 6.7%;
    height: 6%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Yunlin:hover {
    width: 20%;
    z-index: 1;
}

#div_Chiayi {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightskyblue;
    width: 8%;
    height: 7%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Chiayi:hover {
    width: 20%;
    z-index: 1;
}

#div_Tainan {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightskyblue;
    width: 10.8%;
    height: 9.5%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Tainan:hover {
    width: 20%;
    z-index: 1;
}

#div_Kaohsiung {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightskyblue;
    width: 8.5%;
    height: 7.6%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Kaohsiung:hover {
    width: 20%;
    z-index: 1;
}

#div_Pingtung {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightskyblue;
    width: 9.8%;
    height: 8.5%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Pingtung:hover {
    width: 20%;
    z-index: 1;
}

#div_Hualien {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightgreen;
    width: 10.2%;
    height: 9%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Hualien:hover {
    width: 20%;
    z-index: 1;
}

#div_Taitung {
    position: absolute;
    text-align: center;
    font-size: 100%;
    padding: 0 0 0 0;
    background-color: lightgreen;
    width: 11.8%;
    height: 10.5%;
    -webkit-transition: width 2s; /* Safari */
    transition: width 2s;
}
#div_Taitung:hover {
    width: 20%;
    z-index: 1;
}